doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')  
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')  
    link(href='main.css', rel='stylesheet', type='text/css')
  body
    .container(style='margin-top: -50px;')
      .row
        .form-group(style='margin-top:100px; margin-left:-75px;')
          h1 Estaciones
          #contacts
            table.table.table-bordered
              thead
                tr
                  th.sort(data-sort='name') Nombre
              tbody
                for estacion in data.estaciones
                  tr
                    td
                      a(href="#", onclick='getData("sensores/'+estacion.Id+'");')= estacion.Id
          .col-sm-10
            h2 Añadir Estación
          .col-md-12 
            button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo') PULSAR
            #demo.collapse
              form(action='url', method='POST')
                .form-group
                  label(for='', style='margin-top: 90px;') Estacion_Id
                  input.form-control(type='', id='', placeholder='')
                .form-group
                  label(for='') Ubicacion
                  input.form-control(type='', id='', placeholder='')
                .form-group
                  label(for='') Modelo
                  input.form-control(type='', id='', placeholder='')
                .form-group
                  label(for='') Inicio Actividad
                  input.form-control(type='', id='', placeholder='')
                .form-group
                  label(for='') Marca
                  input.form-control(type='', id='', placeholder='')
                .form-group
                  label(for='') Estado
                  input.form-control(type='', id='', placeholder='')
              .center-block
                button(onclick='getData('+estacion.Id+')').btn.btn-info Añadir Estacion