doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title
    script(src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js')
    link(href='main.css', rel='stylesheet', type='text/css')
  body
    .container(style='margin-top: -50px;')
      .row
        .form-group(style='margin-top:100px; margin-left:-90px;')
          h2 Estaciones
          #contacts
            table.table.table-bordered
              thead
                tr
                  th.sort(data-sort='name') Nombre
                  th Editar
                  th Borrar
              tbody
                for estacion in data.estaciones
                  tr
                    td
                      a(href="#", onclick='getData("sensores/'+estacion.Id+'");')= estacion.Id
                    td.edit
                      button.edit-item-btn.btn.btn-primary() Editar
                    td.remove
                      button(onclick='postData('+estacion.Id+')').remove-item-btn.btn.btn-danger Borrar
          .col-sm-10(style='margin-top: 70px; margin-bottom: 28px; margin-left: 115px;')
            h2 Añadir Estación
          form(action='url', method='POST')
            .form-group(style='')
              label(for='', style='margin-right:20px;') Estacion_Id
              input.form-control(type='', id='', placeholder='')
            .form-group
              label(for='') Ubicacion
              input.form-control(type='', id='', placeholder='')
            .form-group
              label(for='') Modelo
              input.form-control(type='', id='', placeholder='')
            .form-group
              label(for='') Inicio Actividad
              input.form-control(type='', id='', placeholder='')
            .form-group
              label(for='') Marca
              input.form-control(type='', id='', placeholder='')
            .form-group
              label(for='') Estado
              input.form-control(type='', id='', placeholder='')
          .center-block(style=' text-align: center;')
            button(onclick='getData('+estacion.Id+')').btn.btn-info Añadir Estacion