-var dictionary = data.dictionary
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='main.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato|Open+Sans')
  body
    .container(style='margin-top: -50px;')
      .row
        .form-group(style='margin-top:100px; margin-left:-75px;')
          h1 Estaciones
          #contacts
            table.table.table-bordered
              thead
                tr
                  th.sort(data-sort='name') Nombre
              tbody
                for estacion in data.estaciones
                  tr
                    td
                      a(href="#", onclick='getData("sensores/'+estacion.Id+'");')= dictionary[estacion.Id]
    h2 Descargar Estacion
    .center-block
            #selector
                form(method="get", action="/download")
                  #fecha
                    label(for='FromDate') Desde Fecha:
                    #otro
                      input(type='date', name='fromDate')#FromDate
                  #fecha
                    label(for='ToDate') Hasta Fecha:
                    #otro
                      input(type='date', name='toDate')#FromDate
                  select(name='estacion')
                      option(value='cordoba') Cordoba
                      option(value='centenario') Centenario
                      option(value='laboca') La Boca
                  #contaminantes
                        input(type='hidden',name='pm10', value='false')
                        input(type='checkbox',name='pm10', value='true')
                        | PM10
                        input(type='hidden',name='pm25', value='false')
                        input(type='checkbox',name='pm25', value='true')
                        | PM25
                        input(type='hidden',name='co', value='false')
                        input(type='checkbox',name='co', value='true')
                        | CO
                        input(type='hidden',name='o3', value='false')
                        input(type='checkbox',name='o3', value='true')
                        | 03
                        input(type='hidden',name='no2', value='false')
                        input(type='checkbox',name='no2', value='true')
                        | NO2
                        input(type='hidden',name='nox', value='false')
                        input(type='checkbox',name='nox', value='true')
                        | NOX
                        input(type='hidden',name='so2', value='false')
                        input(type='checkbox',name='so2', value='true')
                        | SO2
                        input(type='hidden',name='h2s', value='false')
                        input(type='checkbox', name='h2s', value='true')
                        | H2S
                        input(type='hidden',name='no', value='false')
                        input(type='checkbox', name='no', value='true')
                        | NO
                  select(name='details')
                      option(value='false', selected) Horarios
                      option(value='true') Minutales
                  input.btn.btn-outline-success(type='submit', value="Descargar")