html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title APRA
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    link(rel='stylesheet', href='main.css')
    script.
      $("#result").html("<div class='loader'></div>");
      $.get("http://localhost:3000/estacion", function(data){
              $("#result").html(data);
      });
      function getData(str){
            $.get("http://localhost:3000/"+str, function(data){
              $("#result").html(data);
            });
            $("#result").html("<div id='juntador'><div class='loader'></div></div>");
            return false;
      } 

     
      function postData(str){
            $.post()
      }       
  body
    #header-wrapper
      #header.container2
        img(src='logo-normal.png') 
    ul.sidebar
      li.sidebar-brand
        a(onclick='getData("estacion");') APRA
      li
        a(onclick='getData("sensores/la_boca");') La Boca
      li
        a(onclick='getData("sensores/centenario");') Centenario
      li
        a(onclick='getData("sensores/cordoba");') Córdoba
    #result
