html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title APRA
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(type="text/javascript", src="canvasjs.min.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css')
    link(href='main.css', rel='stylesheet', type='text/css')
    script.
      $("#result").html("<div id='juntador'><div class='loader'></div></div>");
      $.get("http://"+window.location.host+"/estacion", function(data){
              $("#result").html(data);
              $('#side').height($(document).height()-1);
      });
      function getData(str){
            $("#result").html("<div></div>");
            $.get("http://"+window.location.host+"/"+str, function(data){
              $("#result").html(data);
              $('#side').height($(document).height());
            });
            window.scrollTo(0, 0);
            $("#result").html("<div id='juntador'><div class='loader'></div></div>");
            return false;
      }     
  body
    #header-wrapper
      #header.container2
        img(src='logo-normal.png') 
    ul.sidebar#side
      li.sidebar-brand
        a(onclick='getData("estacion");') APRA
      li
        a(onclick='getData("sensores/laboca");') La Boca
      li
        a(onclick='getData("sensores/centenario");') Centenario
      li
        a(onclick='getData("sensores/cordoba");') Córdoba
    #result