doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    link(rel='stylesheet', href='login.css')
    link(rel='stylesheet', href='loginjs.js')
    link(href='https://fonts.googleapis.com/css?family=Exo:900', rel='stylesheet')
  body
    img(src='logo-normal.png', alt='')
    .container
      h1 APRA
    .wrap
      .login-page
        .form(action='/login', method='post')
          form.login-form
            input(type='text', placeholder='usuario')
            input(type='password', placeholder='contraseña')
            button INGRESAR
