doctype html
html
  head
    meta(charset='utf-8')
    title Aqi promedio
    script.
      $('#aqi').submit(function(e){
          e.preventDefault();
          $.ajax({
            url: 'http://'+window.location.host+"/calcularAqi",
            data: $(this).serialize(),
            success: function(data)
            {
              console.log(data);
              $("#resultAqi").text("El AQI es de: " + (typeof data.aqi == 'string' ? data.aqi : data.aqi.toFixed(1)));
              if (data.aqi <= 50)
                $("#resultAqi").css({'background-color' : 'green'})
              else if (data.aqi <= 100 )
              $("#resultAqi").css({'background-color' : 'yellow'})
              else if (data.aqi <= 150 )
              $("#resultAqi").css({'background-color' : 'orange'})
              else if (data.aqi <= 200 )
              $("#resultAqi").css({'background-color' : 'red'})
              else if (data.aqi <= 300 )
              $("#resultAqi").css({'background-color' : '#800080'})
              else
              $("#resultAqi").css({'background-color' : 'darkgray'})
            }
          });
        });
  body
    .caja_superior
      h1 Promedio AQI
    .container
      form(name="aqi",type="get", action="http://localhost:3000/calcularAqi")#aqi
        label Selecionar Polucion  
        select(name='polucion')
                option(value='0', selected='selected')
                option(value='fineparticulatematter') PM25 - Particulate 2.5
                option(value='particulatematter') PM10 - Particulate 10
                option(value='carbonoxide') CO - Carbon Monoxide
                option(value='sulfurdioxide') SO2 - Sulfur Dioxide
                option(value='ozon') O3 - Ozone
                option(value='nitricdioxide') NO2 - Nitrogen Dioxide
                option(value='mononitrogenoxide') NOx - Mononitrogen Dioxide
                option(value='nitricoxide') NO - Nitrogen Oxide
        label Selecionar Estacion
        select(name='estacion')
                  option(value='0', selected='selected')
                  option(value='centenario') Centenario
                  option(value='cordoba') Cordoba
                  option(value='laboca') La Boca
        .text-center
          input.btn.btn-outline-success(type='submit', value="Consultar")
      
    .table.table-reflow
      h2#resultAqi(name="resultAqi", style="margin-bottom: 50px;") El AQI es de: 
      table.table
        thead(style='background-color: darkgrey;')
          tr
            th(style='width: 100px;') AQI
            th Clasificacion
            th Precauciones para Protegerse del Ozono
        tbody
          tr
            td 0 - 50
            td(style='background-color: green;') Buena
            td Ninguna.
          tr
            td 51 - 100
            td(style='background-color: yellow;') Moderada
            td
              | Las personas extraordinariamente sensitivas deben considerar limitar los esfuerzos prolongados al aire libre.
          tr
            td 101 - 150
            td(style='background-color: orange;') Dañina a la Salud de los Grupos Sensitivos
            td
              | Los niños y adultos activos, y las personas con enfermedades respiratorias, tales como el asthma, deven limitar los esfuerzos prologados al aire libre.
          tr
            td 151 - 200
            td(style='background-color: red;') Dañina a la Salud
            td
              | Los niños y adultos activos, y las personas con enfermedades respiratorias, tales como el asthma, deben evitar el esfuerzo prolongado al aire libre; todos los demas, especialmente los niños, deben limitar el esfuerzo prolongado al aire libre.
          tr
            td 201 - 300
            td(style='background-color: #800080;') Muy Dañina a la Salud
            td
              | Los niños y adultos activos, y las personas con enfermedades respiratorias tales como el asthma, deben evitar cualquier esfuerzo al aire libre; todos los demas, especialmente los niños, deben limitar los esfuerzos al aire libre.
