-var dictionary = data.dictionary
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')  
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')  
    link(href='main.css', rel='stylesheet', type='text/css')
  body
    .container
      h2.moverizquierda= dictionary[data.estacion_id]
      .row(style='margin-right= 0px;')
        button.btn.btn-primary(type='button', onclick='getData("estacion");')#atras Atras
        .form-group(style='margin-top:100px; margin-left:-90px;')
          label.col-sm-2.control-label.moversubir(for='inputPassword', style='') ESTACIÓN
          .col-sm-10
            select(onchange='getData("sensores/"+this.options[this.selectedIndex].value);').form-control.medida
              if(data.estacion_id=='la_boca')
                option(value='la_boca', selected) La Boca
              else
                option(value='la_boca') La Boca
              if (data.estacion_id=='centenario')
                option(value='centenario', selected) Centenario
              else
                option(value='centenario') Centenario
              if(data.estacion_id=='cordoba')
                option(value='cordoba', selected) Cordoba
              else
                option(value='cordoba') Cordoba
          #contacts
            table.table.table-bordered
              thead
                tr
                  th.sort(data-sort='name') Nombre
              tbody
                for sensor in data.sensores
                  tr
                    td
                      a(href="#", onclick='getData("mediciones/'+sensor.Id+'/'+data.estacion_id+'");')= (dictionary[sensor.Id])[0]
          .col-sm-10
            h2 Añadir Sensor
          .col-md-12
            button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo') PULSAR
            #demo.collapse
             form(action='url', method='POST')
              .form-group
                label(for='', style='margin-top:90px;') Sensor_ID
                input.form-control(type='', id='', placeholder='')
              .form-group
                label.cambiar(for='') Nombre (CO, NOx, etc.)
                input.form-control(type='', id='', placeholder='')
              .form-group
                label(for='') Unidad
                input.form-control(type='', id='', placeholder='')
              .form-group
                label(for='') Estacion_ID
                select.form-control(type='', id='', placeholder='')
                  if(data.estacion_id=='la_boca')
                    option(value='la_boca', selected) La Boca
                  else
                    option(value='la_boca') La Boca
                  if (data.estacion_id=='centenario')
                    option(value='centenario', selected) Centenario
                  else
                    option(value='centenario') Centenario
                  if(data.estacion_id=='cordoba')
                    option(value='cordoba', selected) Cordoba
                  else
                    option(value='cordoba') Cordoba
              .center-block()
                button.btn.btn-info(type='submit', style='margin-right:-80;') Añadir Sensor