@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body, html {
  font-family: 'Lato', sans-serif;
  font-size:14px;
  padding: 0px;
  margin: 0px
  height: auto;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
}
#detalles {
  margin: 0px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 150px; overflow-x:
}
#promedios {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  width: 50%;
}
#promedios label, input[type=text], select {
  text-align: center;
  margin: 15px;
}
.btn-default {
color: #333;
background-color: #fff;
border-color: #ccc;
}
#header img{
  margin-top: 3px;
}
#contacts{
  margin-top : 30px;
}
#atras {
  position: absolute;
  top: 100px;
  z-index: 2;
  width: 80px;
  height: 35px;
  border: 1px black;
  margin-left: -100;
}
.form-group select {
  margin-left: 0px;
}
#selector {
  width: 385px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: gainsboro;
  height: 250px;
  margin-top: 10px;
  align-content: center;
}
#selector label {
  margin-right: 10px;
}
#otro {
  display: inline;
}
#fecha {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding-top: 20px;
  margin-top: 20px;
}
#btnSubmit{
  width: 30%;
  margin-left: 20px;
  display: inline;
  position: relative;
}
#juntador {
  height: 100%;
  vertical-align: middle;
  margin-top: 200px;
}
.loader {
  margin-left: auto;
  margin-right: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.container2 {
  background-color: #f9dd00;
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffe603),to(#ffbd04));
  height: 40px;
}
h1 {
  display: block;
  text-align: center;
  font-size: 30px;
  padding-right: 25px;
}
h2 {
  display: block;
  text-align: center;
  padding-right: 78px;
}
#result {
  display: inline-block;
  position: absolute;
  width: 70%;
  height: 100%;
  margin-left: 130px;
}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
#page-content-wrapper {
width: 100%;
}
.sidebar {
  list-style-type:none;
  background-color:#333;
  width:230px;
  top:100px;
  left:0;
  text-align:left;
  position: static;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition:1s ease;
  font-family: 'Lato', sans-serif;
}
.sidebar a {
  text-decoration:none;
  color:white;
  transition:1s ease;
}
.sidebar li {
  text-indent: 20px;
  line-height: 40px;
  transition:0.5s ease;
}
#chart {
  width: 70%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.sidebar li:hover {
  background-color:#777;
  cursor:pointer;
  text-indent: 30px;
}
.sidebar > .sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}
.tabla{
  margin-top: 20px;
}
.col-sm-2{
  padding-top: 7px;
  padding-left: 117px;
  top: -18px;
}
.col-sm-10{
  margin-top: 15px;
  margin-bottom: 7px;
  margin-left: 200px;
  top: -20px;
  text-align: center;
  width: 700px;
}
.col-md-12{
  text-align: center;
}
label{float: left;}

/*MOBILE*/

@media screen and (max-width: 400px){
    .container{width: 50%;}
    .sidebar{width: 25%; height: 950px;}
    .col-sm-10{margin-left: 10px;}
    h2{margin-right: -395px; margin-top:20px;}
    .table{width: 100%; margin-left:-30px; }
    form{width: 130%; margin-left: -45px; margin-top: -59px}
    .btn-info{margin-right: 20px;}
    #atras{width: 60px; height: 30px; margin-left: -125px; margin-top: -25px;}
    #contacts{width: 120%;}
    .moverh2{margin-right: 450px; margin-top: 55px;}
    .moverboton{margin-left: 22px;}
    .loader{margin-left: -30px;}
    .moverizquierda{margin-left: -400px;}
    .medida{width: 31%;}
    .moversubir{padding-top: 0px; padding-left: 0px; top: -30px;}
    .cambiar{width: 60%;}
    .cambiar1{width: 43%;}
    .moverizquierda1{margin-left: -78px;}
    .moverizquierda2{margin-left: -388px;}
    #btnSubmit{width: 23%; margin-right: 104px;}
    #selector{width: 225px; border-top: 0px; margin-left: -45px; margin-top: 15px;}
    #promedios{margin-left: -14px; width: 50%; display: inline-table; margin-top: 50px;}
    label{margin-right: 14px; margin-top: -2px;}
   .moverlabel{margin-left: -141px; margin-top: -28px;}
   .claseh1{margin-left: -80px;}
   .claseh2{margin-left: -389px;}
   .prome{margin-left: -197px; margin-top: -20px;}
   .selectsensor{width: 34%;}
   .controlsensor{top: -50px; margin-left: -150px; padding-top: 30px;}
   hr{border-top: 0}
 }

/*TABLET
@media screen and (max-width: 720px){
    .sidebar{width: 15%;}
    .container{width: 85%;}
    .form-group{width: 105%;}
    #contacts{width: 100%;}
    #selector{width: 70%;, float: left;}
    body{width: 100%}
    #btnSubmit{width: 30%;}
    #tabla{width: 50%;}
    #tabla{float: right;}
    #tabla{margin-right: -20px;}
    #formulario{margin-left: -124px;}
    #formulario{margin-top: -130px;}
    #atras{left: 120px;}

  }
@media screen and (max-width: 1280px){
    .container{width: 100%;}

}
*/
.center-block{
  text-align: center;
  margin-right: 78px;

}
form{
  margin-top:-59px;
}
#formulario{
  margin-top: -220px;
}
.expansive{
  display: none;
}
label{margin-right: 900px;}
.clase3{margin-right: 75px;}
.moverboton{margin-right: -101px;}
.cambiar1{width: 10%;}
.cambiar{width: 15%;}
.moversubir{top:42px;}

.btn-outline-success{
  margin-top: 20px;
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c;
}
.btn-outline-info{
  color: #5bc0de;
  background-image: none;
  background-color: transparent;
  border-color: #5bc0de;
}
.btn-outline-primary{
  color: #0275d8;
  background-image: none;
  background-color: transparent;
  border-color: #0275d8;
}
.btn-outline-danger{
    color: #d9534f;
    background-image: none;
    background-color: transparent;
    border-color: #d9534f;
}
.canvasjs-chart-credit{
   display: none;
}
